/* .submitted{
    color: green;
}


.unsubmitted{
    color: red;
} */

.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
}

.addButton {
    align-self: flex-end;
}