<!-- loops through assignment array -->
<!-- <div *ngFor="let assignment of assignments" 
  [ngStyle]= "{'color': assignment.submitted === false ? 'red' : 'green'}"
> -->

<!-- <div *ngFor="let assignment of assignments" 
  [ngClass]="{'submitted': assignment.submitted === true, 
  'unsubmitted': assignment.submitted === false}"
> -->
  <!-- string interpolation is a binding from logic file into html file -->
  
  
  
  <main *ngIf="formVisible === false">
  <button mat-flat-button color="accent"
  (click)="onAddBtnClick()"
  >Add-Assignment</button>

 <mat-list *ngFor="let assignment of assignments">
   <!-- date pipe converts raw date into human readable date -->
<h3 mat-subheader>{{assignment.dueDate | date}}</h3>
<!-- *ngIf says if submitted, display <p>, else display <ng-template> -->
  <mat-list-item (click)="setSelected(assignment)">
  <p appSubmitted *ngIf="assignment.submitted; else unsubmitted"
  >Assignment {{assignment.name}} has been submitted</p>
  <br>
  <ng-template #unsubmitted
  
  
  >Assignment {{assignment.name}} has not been submitted</ng-template>
  
  <mat-divider></mat-divider>
</mat-list-item>
</mat-list>
</main>

<app-add-assignment *ngIf="formVisible"></app-add-assignment>
<app-assignment-detail [passedAssignment]="selectedAssignment"></app-assignment-detail>
